# Implement Regression With AWS

In [42]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [55]:
## Read the datav

df = pd.read_csv("https://nehagoudbaddam.s3.amazonaws.com/Data/loan-train.csv")
print('Size of Loan Approval data frame is :',df.shape)
df.head()

Size of Loan Approval data frame is : (614, 13)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [50]:
## Preprocess the data

df = df.dropna()
print("new shape:" ,df.shape)

new shape: (480, 13)

In [51]:
## Implement Logistic Regression Model on Loan data

X = df[["ApplicantIncome", "CoapplicantIncome", "LoanAmount", "Loan_Amount_Term", "Credit_History"]]
y = df.Loan_Status


X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20, random_state=42)


logreg = LogisticRegression()
logreg.fit(X_train,y_train)

y_pred = logreg.predict(X_test)

print("done")

done

In [52]:
## Evaluate the model

from sklearn.metrics import accuracy_score

score = accuracy_score(y_test,y_pred)
print('Accuracy :',score)

Accuracy : 0.8229166666666666

In [54]:
## Making predictions

Obs = pd.read_csv("https://nehagoudbaddam.s3.amazonaws.com/Data/loan-test.csv")

newData = Obs.values

y_pred = logreg.predict(newData)
y_pred

array(['Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y'],
      dtype=object)

# Task 1: Execute the code properly with given sample data 
# Task 2: Explain what you analyzed in the code. Make a detailed report.
# Task 3: Use any other dataset to run the tasks above again.
# Task 4: Perform any other machine learning code with putting data in AWS S3.